body{
  background-color: #89c7eb;
  }
  .container-navbar{
      background-color: rgb(141, 182, 235);
  }
  .container-footer{
      background-color: rgba(136, 194, 248, 0.699);
  }
  .image{
      width: 100%;
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .image img{
     height: 200px;
     width: 100x;
     border-radius: 10%;
     border: 10px;
  }